main section {
    max-width: 960px;
    margin: 0 auto;
}

#search-tab .mdl-textfield {
    width: 100%;
}

#add-note-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#add-note {
    position: absolute;
    top: 30px;
    z-index: 1000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td {
    word-wrap: break-word;
    white-space: normal;
}

.mdl-card {
    min-height: unset;
}

.mdl-data-table tbody tr:hover {
    background-color: unset;
}

.mdl-tabs > .mdl-tabs__panel {
    padding: 10px;
}

.mdl-data-table td:first-of-type,
.mdl-data-table th:first-of-type {
    padding-left: 18px;
}